[Unit]
Description=DeltaQ Real-Time Backup

[Service]
ExecStart=/usr/bin/dotnet /srv/DeltaQ.RTB/DeltaQ.RTB.dll /LOGFILE /var/log/DeltaQ.RTB.log
SyslogIdentifier=DeltaQ.RTB
User=root

[Install]
WantedBy=multi-user.target

